on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
name: "Build & Release"

jobs:
  build:
      runs-on: ubuntu-latest
      name: Build & Release
      steps:
        - uses: actions/checkout@v1
        - uses: actions/setup-java@v1
          with:
            java-version: 11
        - uses: subosito/flutter-action@v1
          with:
            channel: "stable"    
        - run: flutter pub get
        - run: flutter build apk
        - name: Push to Releases
          uses: ncipollo/release-action@v1
          with:
            artifacts: "build/app/output/apk/release/*"
            tag: v1.0.${{ github.run_number }}
            token: ${{ secrets.TOKEN }}