on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
name: Build & Release


jobs:
  build:
    name: Build & Release
      runs-on: ubuntu-latest

      steps:
        - uses: actions/checkout@v3
        - uses: actions/setup-java@v3
          with:
            java-version: 11
        - uses: subosito/flutter-action@v1
          with:
            channel: "stable"    
        - run: flutter pub get
        - run: flutter build apk --release
        - name: Push to Releases
          uses: nicpollo/release-action@v1
          with:
            artifacts: "build/app/output/apk/release/*"
            tag: v1.0.${{ github.run_number }}
            token: ${{ secrets.TOKEN }}